.dashboard-activity{
    padding: 2rem 7rem;
    font-family: $font-content;
    section{
        color: white;
        margin-bottom: 6rem;
        .activity-section-wrapper{
            display: flex;
            flex-wrap: wrap;
            gap: 3.50rem;
        }
        h2{
            font-size: 2rem;
            margin-bottom: 1.75rem;
        }
    }
}

.activity-game-card{
    a{
        color: white;
        text-decoration: none;
        margin-top: 0.5rem;
        display: block;
        max-width: 162.6px;
        line-height: 1.2rem;
    }
}

.game-card-button-wrapper{
    display: none;
}

.game-card-img-container:hover{
    .game-card-button-wrapper{
        position: absolute;
        background-color: rgba(0, 0, 0, 0.5);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.25rem;
        input{
            font-family: $font-content;
            padding: 0.4rem 0.5rem;
            background-color: $color-third;
            color: white;
            border: 1px solid white;
            width: 135px;
            border-radius: pxToRem(5);
            flex: 1;
            &:hover{
                background-color: $color-main;
            }
        }
        .game-card-deleteRelation{
            position: absolute;
            top: 5px;
            right: 5px;
            input{
                background-image: url('./../img/close.svg');
                background-repeat: no-repeat;
                background-size: 50%;
                background-position: center;
                border: none;
                background-color: transparent;
                width: auto;
                cursor: pointer;
                padding: 0.3rem 0.8rem;
            }
        }
    }
}
