.dashboard-browse{
    padding: 3rem 7rem;
}

.browse-form{
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
}

.browse-multiselect {
    width: 200px;
    .selectBox {
        position: relative;
    }

    .selectBox select {
        width: 100%;
        padding: 0.8rem 0.9rem;
        background-color: $color-second;
        color: white;
        font-family: $font-content;
        border-radius: 2rem;
        font-size: 1rem;
        border: 1px solid white;
    }

    .overSelect {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }

    #checkboxes {
        display: none;
        border: 1px #dadada solid;
    }

    #checkboxes label {
        display: block;
    }

    #checkboxes label:hover {
        background-color: #1e90ff;
    }
}

.browse-form-submit{
    input{
        width: 100%;
        padding: 0.8rem 0.9rem;
        background-color: $color-second;
        color: white;
        font-family: $font-content;
        border-radius: 2rem;
        font-size: 1rem;
        border: 1px solid white;
        cursor: pointer;
    }
}

.browse-content{
    margin-top: 4rem;
    display: flex;
    flex-wrap: wrap;
    gap: 3.5rem;
}

.browse-game-card{
    display: flex;
    flex-direction: column;

    a{
        color: white;
        font-family: $font-content;
        font-size: 1.175rem;
        text-decoration: none;
        margin-top: 0.5rem;
    }
}

.game-card-img-container{
    position: relative;
    img{
        width: 200px;
        vertical-align: bottom;
    }
    form{
        display: none
    }

}

.game-card-img-container:hover{
    form{
        position: absolute;
        background-color: rgba(0, 0, 0, 0.5);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.25rem;
        input{
            font-family: $font-content;
            padding: 0.8rem 0.9rem;
            background-color: $color-third;
            color: white;
            border: 1px solid white;
            width: 100%;
        }
    }
}


