.dashboard-calendar{
    padding: 5rem 7rem;
    color: white;
}

.calendar-title{
    text-align: center;
    font-size: pxToRem(50);
    margin-bottom: 1rem;
}

.calendar-intro{
    text-align: center;
    font-size: pxToRem(25);
    font-family: $font-content;
    margin-bottom: 5rem;
}

.calendar-filter{
    form{
        display: flex;
        gap: 2rem;
        justify-content: center;
        flex-wrap: wrap;
        select,input{
            font-family: $font-content;
            font-size: pxToRem(15);
            color: white;
            background-color: $color-second;
            width: 200px;
            padding: 0.6rem 0.9rem;
            border: 1px solid black;
            border-radius: 5px;
            border: 1px solid white;
        }
    }
}

.calendar-content-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: 4rem;
    margin: 5rem 0 0 0
}

.calendar-release{
    display: flex;
    background-color: $color-second;
    border-radius: 5px;
    text-decoration: none;
    &:hover{
        box-shadow:  1px 1px 10px black;;
    }
    .release-cover{
        img{
            width: 180.6px;
            height: 251.3px;
            vertical-align: bottom;
            border-radius: 5px 0 0 5px;
        }
    }
}

.release-infos{
    display: flex;
    flex-direction: column;
    color: white;
    padding: 1rem;
    flex: 1;
    .release-title{
        font-family: $font-heading;
        font-size: pxToRem(20);
        margin-bottom: 1.250rem;
    }
    .release-about{
        font-family: $font-content;
        font-size: pxToRem(14);
        line-height: 1.2rem;
        margin-bottom: 1.250rem;
    }

    .release-bottom{
        display: flex;
        gap: 1rem;
        margin-top: auto;
        .release-date{
            font-family: $font-content;
            background-color: #2E325C;
            padding: 0.8rem 0.9rem;
            flex: 50%;
            box-sizing: border-box;
        }
        .release-trailer{
            font-family: $font-content;
            background-color: #6c2828;
            padding: 0.8rem 0.9rem;
            flex: 50%;
            box-sizing: border-box;
        }
    }
}

.calendar-noResults{
    grid-column: 1/4;
    text-align: center;
    font-size:pxToRem(30);
    font-family: $font-content;
}

.calendar-pagniation{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 4rem;
    margin-top: 3rem;
    a{
        color: white;
        font-family: 'Open Sans';
        font-size: 1.3rem;
    }
}

@media screen and (max-width:800px){
    .dashboard-calendar {
        padding: 5rem 2rem;
    }
}
@media screen and (max-width:600px){
    .calendar-release {
        width: 418px;
    }
}
