.dashboard-community{
    padding: 5rem 7rem;
    .community-wrapper{
        display: flex;
        gap: 2rem;
        align-items: flex-start;
        justify-content: center;
    }
}

.community-feed{
    background-color: $color-second;
    width: 100%;
    flex: 1 0 70%;
    color: white;
    padding: 1.5rem 2.5rem;
    font-family: $font-content;
    line-height: 1.5rem;
    border-radius: 5px;
    max-width: 800px;
    .feed-title{
        font-size: pxToRem(30);
        color: white;
        margin-bottom: 2rem;
    }
}

.feed-activity{
    box-sizing: border-box;
    background-color: #1f242c;
    padding: 2rem;
    border-radius: 5px;
    &:not(:first-child){
        margin-top: 1rem;
    }
    &:not(:last-child){
        border-bottom: 2px solid black;
        margin-bottom: 3rem;
    }
}

.feed-activity-top{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    .feed-activity-top-img{
        margin-right: 1rem;
        border-radius: 50%;
        overflow: hidden;
        width: 50px;
        height: 50px;
        img{
            width: 100%;
        }
    }
    p{
        font-size: pxToRem(17);
        a{
            font-weight: bold;
            text-decoration: none;
            font-style: italic;
            color: white;
        }
    }
    span{
        font-weight: 500;
        font-size: 14px;
    }
}
.feed-activity-bottom{
    display: flex;
    margin-bottom: 1rem;
    background-color: #1a1e25;
    border-radius: 5px;
    padding: 1rem;
    img{
        width: 93.65px;
        height: 130.1472px;
        border-radius: pxToRem(5);
        vertical-align: bottom;
        object-fit: cover;
        margin-right: 1rem;
    }
    p{
        font-size: pxToRem(15);
        &::before, &::after {
            content: "";
            display: inline-block;
            width: 15px;
            height: 15px;
            background-image: url("./../img/left-quote.svg");
            background-size: 100%;
        }
        &::after{
            transform: rotate(180deg);
            margin-top: 5px;
        }
    }
}

.community-suggestions{
    background-color: $color-second;
    padding: 1.5rem 2.5rem;
    border-radius: 5px;
    .suggestions-title{
        font-size: pxToRem(30);
        color: white;
        margin-bottom: 2rem;
    }
}

.suggestions-item{
    font-family: $font-content;
    &:not(:last-child){
        border-bottom: 2px solid black;
        margin-bottom: 2rem;
        padding-bottom: 2rem;
    }
}

.suggestions-item-top{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    div{
        margin-right: 1rem;
        border-radius: 50%;
        overflow: hidden;
        width: 70px;
        height: 70px;
        img{
            width: 100%;
        }
    }
    .suggestions-item-pseudo{
        font-size: pxToRem(22);
        color: white;
    }
}

.suggestions-item-follows{
    display: flex;
    justify-content:space-between;
    margin-bottom: 1rem;
    color: white;
    span{
        display: block;
        &:first-child{
            margin-bottom: 0.5rem;
        }
    }
}

.suggestions-item-button{
    width: 100%;
    padding: 0.4rem 1.2rem;
    border-radius: 5px;
    border: none;
    background-color: #262B48;
    color: white;
    font-size: 1rem;
    border: 1px solid black;
    font-family: $font-content;
    cursor: pointer;
}


.feed-activity-infos{
    display: flex;
    gap: 0.5rem;
    justify-content: flex-end;
    span{
       font-size: pxToRem(19);
       display: flex;
       align-items: center;
       padding: 0.5rem;
       &:hover{
        background-color: $color-third;
        cursor: pointer;
        border: 2px solid black;
    }
    }
    form{
        display: flex;
        &:hover{
            background-color: $color-third;
            cursor: pointer;
            border: 2px solid black;
        }
        button{
            font-size: pxToRem(19);
            cursor: pointer;
            color: white;
            background: none;
            border: none;
        }
    }
}


// REPLIES
.feed-activity-reply-disable{
    display: none;
}
.feed-activity-reply{
    form{
        margin-bottom: 4rem;
        label{
            margin-bottom: 5px;
            display: block;
        }
        input{
            width: 150px;
            background-color: #222831;
            border: 1px solid black;
            font-family: "Open Sans", Verdana, Arial, Helvetica, sans-serif;
            color: white;
            box-sizing: border-box;
            padding: 0.5rem 2.5rem;
            float: right;
        }
        textarea{
            width: 100%;
            background-color: #222831;
            border: 1px solid black;
            resize: none;
            height: 60px;
            padding: 0.5rem;
            font-family: "Open Sans", Verdana, Arial, Helvetica, sans-serif;
            color: white;
            font-size: pxToRem(15);
            box-sizing: border-box;
        }
    }
}
.reply-item{
    background-color: #1a1e25;
    padding: 1rem;
    margin-top: 1rem;
    &:not(:last-child){
        margin-bottom: 1rem;
    }
}
.reply-item-top{
    display: flex;
    align-items: center;
    div{
        border-radius: 50%;
        width: 40px;
        height: 40px;
        overflow: hidden;
        margin-right: 1rem;
        img{
            width: 100%;
        }
    }
}
.reply-item-bottom{
    margin-left: 55px;
}

.feed-activity-comments::after{
    content: "";
    display: inline-block;
    background-image: url("./../img/comment.svg");
    background-size: 100%;
    background-position: center;
    width: 23px;
    height: 23px;
    margin-left: 5px;
}
.likes-active::after{
    content: "";
    display: inline-block;
    background-image: url("./../img/like-active.svg") !important;
    background-size: 100%;
    background-position: center;
    width: 23px;
    height: 23px;
    margin-left: 5px;
}

.feed-activity-likes::after{
    content: "";
    display: inline-block;
    background-image: url("./../img/like.svg");
    background-size: 100%;
    background-position: center;
    width: 23px;
    height: 23px;
    margin-left: 5px;
    margin-top: -10px;
}





