.dashboard-splitscreen{
    display: flex;
}

.dashboard-sidebar{
    flex: 0 0 250px;
    border-right: 1px solid white;
    height: 100vh;
    padding: 2rem;
    color: white;
}

.dashboard-right{
    flex: 1 1 100%;
}


.sidebar-title{
    text-align: center;
    font-size: 2rem;
    border-bottom: 1px solid white;
    padding-bottom: 2rem;
}

.sidebar-menu{
    border-bottom: 1px solid white;
    ul{
        margin-top: 15px;
    }
}

.sidebar-menu-item{
        margin-bottom: 0.8rem;
    .sidebar-menu-link{
        padding: 1rem;
        display: block;
        color: white;
        text-decoration: none;
        font-family: $font-heading;
        font-size: 1.6rem;
    }
    &:hover{
        background-color: $color-third;
        border-radius: 50px;
    }
}

.dashboard-top{
    padding: 1.35rem 7rem;
    border-bottom: 1px solid white;
    display: flex;
    justify-content: space-between;
}

.dashboard-top-form{

    input[type="search"]{
        font-family: $font-heading;
        padding: 0.7rem 1.5rem;
        box-sizing: border-box;
        font-size: 1.25rem;
        border-radius: 30px;
        border: none;
        width: 500px;
    }
    input[type="submit"]{
        font-family: $font-heading;
        margin-left: 0.8rem;
        background: none;
        color: white;
        border: none;
        font-size: 1.3rem;
    }
}

.dashboard-top-right{
    display: flex;
    align-items: center;
}

.dashboard-top-buttons{
    margin-right: 4rem;
    a{
        text-decoration: none;
    }
    .icon-messages{
        margin-right: 2rem;
        img{
            width: 30px;
        }
    }
    .icon-notifications{
        img{
            width: 30px;
        }
    }
}

.dashboard-top-userProfil{
    a{
        font-family: $font-heading;
        color: white;
        font-size: 1.3rem;
        text-decoration: none;
    }

}
