.game-banner{
    width: 100%;
    height: 250px;
    opacity: 0.5;
    img{
        width: 100%;
        height: 250px;
        object-fit: cover;
    }
}

.game-content{
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 4rem;
}

.game-header{
    position: relative;
    top: -125px;
    display: flex;

    .game-cover{
        border-radius: 2rem;
        margin-right: 3rem;
    }

    .game-title{
        font-size: 2rem;
        margin-top: 5rem;
        margin-bottom: 2rem;
        color: white;
    }

    .game-description{
        font-family: $font-content;
        font-size: 1.25rem;
        line-height: 1.50rem;
        color: white;
        width: 700px;
    }
}

.characteristics-title{
    font-size: 2rem;
    color: white;
    margin-bottom: 2rem;

}

.game-characteristics{
    dl{
        border: 2px solid black;
    }
    .characteristics-wrap{
        display: flex;
        dt,dd{
            background-color: $color-second;
            padding: 2rem;
            flex: 1;
            font-family: $font-content;
            color: white;font-size: 1.25rem;
        }
        dt{
            border-right: 2px solid black;
        }
        &:not(:last-child){
            border-bottom: 2px solid black;
        }
    }
}

.game-gallery{
    .gallery-title{
        font-size: 2rem;
        margin-top: 5rem;
        margin-bottom: 2rem;
        color: white;
    }
}

.gallery-grid{
    display: grid;
    //grid-template-columns: repeat(2, 1fr);
    grid-template-columns: 1fr 250px;
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 25px;

    .gallery-big{
        grid-column: 1/1 ;
        grid-row: 1/6 ;
        width: 100%;
    }

    .gallery-little{
        width: 60%;
    }
}

.game-comments{
    .comments-title{
        font-size: 2rem;
        margin-top: 5rem;
        margin-bottom: 2rem;
        color: white;
    }

    form{
        margin-bottom: 7rem;
        textarea {
            width: 100%;
            background-color: $color-second;
            border: 2px solid black;
            //border-radius: 1rem;
            resize: none;
            height: 150px;
            padding: 2rem;
            font-family: $font-content;
            color: white;
            font-size: 1.25rem;
            box-sizing: border-box;
        }
        input[type="submit"]{
            float: right;
            margin-top: 1rem;
            background-color: $color-second;
            border: 2px solid black;
            padding: 0.8rem 1.5rem;
            font-size: 1.1rem;
            color: white;
            font-family: $font-content;
            &:hover{
                cursor: pointer;
            }
        }
    }

}

.comments-wrapper{
    clear: both;
}

.game-comment{
    color: white;
    font-family: $font-content;
    background-color: $color-second;
    padding: 2rem;
    border: 2px solid black;
    margin-bottom: 1.5rem;
    .game-comment-user{
        font-size: 1.750rem;
        margin-bottom: 1.5rem;
    }
    .game-comment-content{
        line-height: 1.4rem;
        font-size: 1.2rem;
    }
}
