.game-banner{
    width: 100%;
    height: 250px;
    opacity: 0.5;
    img{
        width: 100%;
        height: 350px;
        object-fit: cover;
        filter: blur(5px);
    }
}

.game-content{
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 4rem;
}

.game-header{
    display: flex;
    position: relative;
    top: -40px;
    padding: 0 2rem;

    .game-cover{
        width: 271px;
        height: 377px;
        border-radius: 2rem;
        margin-right: 3rem;
    }

    .game-title{
        font-size: 2rem;
        margin-top: 6rem;
        margin-bottom: 2rem;
        color: white;
    }

    .game-description{
        font-family: $font-content;
        font-size: 1.25rem;
        line-height: 1.8rem;
        color: white;
        max-width: 700px;
    }
}

.game-forms{
    input{
        width: 271px;
        padding: 0.5rem 0.9rem;
        box-sizing: border-box;
        background-color: $color-second;
        border: 1px solid white;
        cursor: pointer;
        margin-top: 1rem;
        font-family: $font-content;
        color: white;
        &:hover{
            background-color: $color-third;
        }
    }
}

.game-header-cover-wrapper{
    position: relative;
    span{
        position: absolute;
        padding: 1rem;
        background-color: #262b48;
        top: -34px;
        right: 24px;
        border-radius: 5px;
        color: white;
        font-family: $font-content;
        font-size: pxToRem(25);
    }
}

.characteristics-title{
    font-size: 2rem;
    color: white;
    margin-bottom: 2rem;

}

.game-characteristics{
    margin-top: 4rem;
    padding: 0 2rem;
    dl{
        border: 2px solid black;
    }
    .characteristics-wrap{
        display: grid;
        grid-template-columns: 350px 1fr;
        dt,dd{
            background-color: $color-second;
            padding: 2rem;
            flex: 1;
            font-family: $font-content;
            color: white;font-size: 1.25rem;
        }
        dt{
            border-right: 2px solid black;
            font-weight: bold;
        }
        dd{
            a{
                padding: 0.3rem 0.4rem;
                background-color: #101216;
                border-radius: 5px;
                font-family: "Open Sans", Verdana, Arial, Helvetica, sans-serif;
                font-size: pxToRem(18);
                color: white;
                display: inline-block;
                margin-bottom: 0.5rem;
                text-decoration: none;
            }
        }
        &:not(:last-child){
            border-bottom: 2px solid black;
        }
    }
}

.game-gallery{
    padding: 0 2rem;
    .gallery-title{
        font-size: 2rem;
        margin-top: 5rem;
        margin-bottom: 2rem;
        color: white;
    }
    p{
        font-family: $font-content;
        font-size: pxToRem(20);
        color: white;
    }
}

.gallery-content{
    .gallerry-current-img{
        width: 100%;
        margin-bottom: 1rem;
    }

    .gallery-thumb{
        display: flex;
        overflow: auto;
        padding-bottom: 2rem;
        img{
            width: 450px;
            height: 100px;
        }
        img:not(:last-child){
            margin-right: 0.5rem;
        }
        &::-webkit-scrollbar {
            width: 1em;
        }

        &::-webkit-scrollbar-track {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        }

        &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: $color-third;
        }

        &::-webkit-scrollbar:vertical {
        display: none;
        }
    }
}

.gallery-thumb-active{
    filter: brightness(0.2);
    border: 2px solid white;
}

.game-comments{
    padding: 0 2rem;
    .comments-title{
        font-size: 2rem;
        margin-top: 5rem;
        margin-bottom: 2rem;
        color: white;
    }

    form{
        margin-bottom: 7rem;
        textarea {
            width: 100%;
            background-color: $color-second;
            border: 2px solid black;
            //border-radius: 1rem;
            resize: none;
            height: 150px;
            padding: 2rem;
            font-family: $font-content;
            color: white;
            font-size: 1.25rem;
            box-sizing: border-box;
        }
        input[type="submit"]{
            float: right;
            margin-top: 1rem;
            background-color: $color-second;
            border: 2px solid black;
            padding: 0.8rem 1.5rem;
            font-size: 1.1rem;
            color: white;
            font-family: $font-content;
            &:hover{
                cursor: pointer;
            }
        }
    }

}

.comments-wrapper{
    clear: both;
}

.game-comment{
    position: relative;
    color: white;
    font-family: $font-content;
    background-color: $color-second;
    padding: 2rem;
    border: 2px solid black;
    margin-bottom: 1.5rem;
    .game-comment-user{
        display: flex;
        align-items: center;
        div{
            margin-right: 1rem;
            border-radius: 50%;
            overflow: hidden;
            width: 60px;
            height: 60px;
            img{
                width: 100%;
            }
        }
        span{
            font-size: pxToRem(25);
        }
        margin-bottom: 1.5rem;
    }
    .game-comment-date{
        font-size: pxToRem(14);
        margin-bottom: 1.5rem;
    }
    .game-comment-content{
        line-height: 1.6rem;
        font-size: pxToRem(18);
    }
    .comment-action{
        position: absolute;
        right: 30px;
        top: 15px;
        display: flex;
        gap: 1rem;
        span{
            margin-top: 1.12rem;
            border: 2px solid black;
            display: block;
            padding: 0.6rem 0.9rem;
            font-size: 13px;
            cursor: pointer;
            &:hover{
                background-color: $color-third;
            }
        }
    }
    .comment-form-update{
        .comment-update{
            font-size: 13px;
            padding: 0.5rem 0.9rem;
            &:hover{
                background-color: $color-third;
            }
        }
    }
    .comment-form-delete{
        .comment-delete{
            font-size: 13px;
            padding: 0.5rem 0.9rem;
            &:hover{
                background-color: $color-third;
            }
        }
    }
}


//rating
.game-rating{
        color: white;
        font-family: $font-content;
        display: flex;
        gap: 1rem;
        margin-bottom: 1rem;
        align-items: center;

        div{
            padding: 0.5rem 2rem;
            background-color: $color-third;
            border-radius: 5px;
        }
        label{
            font-size: pxToRem(20);
            margin-right: 1rem;
        }
        select{
            margin-right: 0.5rem;
        }
        select, input{
            font-size: 0.9375rem;
            color: white;
            background-color: #222831;
            padding: 0.6rem 0.6rem;
            border: 1px solid black;
            border-radius: 5px;
            border: 1px solid white;
        }
}

@media screen and (max-width: 600px){
    .game-characteristics .characteristics-wrap {
        grid-template-columns: 157px 1fr;
    }
    .game-header .game-title {
        margin-top: 2rem;
    }
    .game-header{
        flex-direction: column;
    }
    .game-header .game-cover {
        width: 100%;
        height: 100%;
        border-radius: 2rem;
        margin-right: 3rem;
    }
    .game-forms input {
        width: 100%;
    }
    .game-rating div {
        width: 100%;
    }
}

