.header{
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-title{
    font-size: 1.75rem;
    color: white;
    font-family: $font-heading;
    a{
        color: white;
        text-decoration: none;
    }
}

.header-menu{
    a{
        color: white;
        text-decoration: none;
        font-family: $font-content;
        font-size: 1.2rem;
        padding: 1rem;
    }
}

.home-background{
    background-image: url("./../img/home-background.png");
    background-size: 1800px;
    padding-bottom: 18rem;
    background-repeat: no-repeat;
    background-position: center;
}

.home-intro-wrapper{
    padding: 0 3rem;
}

.home-intro-weight{
    font-weight: bold;
    display: block;
}

.home-intro-banner{
    background-image: url("./../img/home-intro-background.jpg");
    background-position: center;
    height: 340px;
    border: 4px solid $color-third;
    margin: 0 auto 4rem;
    max-width: 1600px;
    opacity: 0.7;
    background-attachment: scroll;
}
.home-intro-title{
    color: white;
    font-family: $font-heading;
    font-size: 3.125em;
    text-align: center;
    text-align: center;
    line-height: 5rem;
    margin-bottom: 2rem;
}

.home-intro-text{
    text-align: center;
    font-size: 2rem;
    font-family: $font-content;
    color: white;
    margin-bottom: 4rem;
    line-height: 3rem;
}

.home-intro-cta{
    font-family: $font-content;
    text-align: center;
    margin-bottom: 4rem;
    .intro-cta-login{
        background-color: #434980;
        padding: 0.8rem 4rem;
        color: white;
        text-decoration: none;
        border-radius: 0.5rem;
        font-size: 1.750rem;
        &:hover{
            background-color: #2e3258;
        }
    }
}

.home-intro-infos{
    color: white;
    display: flex;
    justify-content:center;
    gap: 5rem;
    margin-top: 5rem;
    flex-wrap: wrap;
}

.infos-item{
    transition: 0.3s;
    &:hover{
        transform: scale(1.1)

    }
}

.infos-item-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: $font-content;
    .infos-big{
        font-size: 2.313rem;
        font-weight: bold;
        margin-bottom: 0.4rem;
    }
    .infos-little{
        font-size: 1.563rem;
        font-weight: 300;
    }
    &::before{
        content: "";
        display: block;
        width: 50px;
        height: 50px;
        margin: 0 auto 0.8rem;
    }
}
.infos-users::before{
    background-image: url('./../img/user.svg');
}
.infos-games::before{
    background-image: url('./../img/console.svg');
}
.infos-comments::before{
    background-image: url('./../img/comment.svg');
}

.home-gameon{
    padding: 8rem 0;
    .home-gameon-wrap{
        display: flex;
        align-items: center;
        gap: 3rem;
        position: relative;
    }

    .gameon-left{
        flex: 0 0 50%;
        img{
            width: 30%;
            height: 600px;
            object-fit: cover;
            position: absolute;
            top: -200px;
            left: 15%;
            box-shadow: 5px 5px 15px -7px rgba(67,73,128,1);
        }
    }

    .gameon-right{
        color: white;
        .gameon-title{
            font-size: pxToRem(35);
            margin-bottom: pxToRem(25);
        }
        p{
            font-family: $font-content;
            font-size: pxToRem(20);
            line-height: 1.750rem;
        }

    }
}
.home-rewards{
    padding: 10rem 5rem 5rem;
    background-color: #101316;
    .home-rewards-wrap{
        display: flex;
        align-items: center;
        gap: 3rem;
    }

    .rewards-left{
        flex: 0 0 50%;
        img{
            width: 100%;
            box-shadow: 5px 5px 15px -7px #434980;
        }
    }

    .rewards-right{
        color: white;
        .rewards-title{
            font-size: pxToRem(35);
            margin-bottom: pxToRem(25);
        }
        p{
            font-family: $font-content;
            font-size: pxToRem(20);
            line-height: 1.750rem;
        }

    }
}
.home-comments{
    padding: 5rem;
    .home-comments-wrap{
        display: flex;
        align-items: center;
        gap: 3rem;
    }

    .comments-left{
        flex: 0 0 50%;
        img{
            width: 100%;
            box-shadow: 5px 5px 15px -7px #434980;
        }
    }

    .comments-right{
        color: white;
        .comments-title{
            font-size: pxToRem(35);
            margin-bottom: pxToRem(25);
        }
        p{
            font-family: $font-content;
            font-size: pxToRem(20);
            line-height: 1.750rem;
        }

    }
}


/* HOME__VIDEOGAMES */
.home-videogames{
    background-color: #101316;
    padding: 5rem;
    .videogames-title{
        font-size: 2rem;
        margin-bottom: 2rem;
        color: white;
    }

    .videogames-title-second{
        font-size: pxToRem(25);
        color: white;
        margin-bottom: 1em;
    }
}

.videogames-lastrelease{
    margin-bottom: 4rem;
}

.videogames-content{
    display: flex;
    gap: 0.7rem;
    flex-wrap: wrap;
    .videogames-game-card{
        color: white;
        text-decoration: none;
        font-family: $font-content;
        img{
            width: 271px;
            height: 377px;
            border: 3px solid black;
            box-sizing: border-box;
        }
        .videogames-game-title{
            margin-top: 0.5rem;
            font-size: 1.2rem;
        }
        .videogames-game-date{
            text-align: center;
            margin-bottom: 0.5rem;
        }
    }
}


/* HOME__FOOTER */
.home-footer{
    display: flex;
    flex-direction: column;
    align-items:center;
    font-family: $font-content;
    font-size: 1.2rem;
    padding: 3rem;
    color: white;
}

.footer-menu{
    display: flex;
    gap: 2rem;
    margin-bottom: 2rem;
    flex-wrap: wrap;
    justify-content: center;
    a{
        color: white;
        text-decoration: none;
    }
}

.footer-social{
    margin-bottom: 2rem;
}

.icon{
    display: inline-block;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
    &:not(:last-child) {
        margin-right: 1.5rem;
    }
}

.ic-twitter{
    background-image: url("./../img/twitter.svg");
}
.ic-instagram{
    background-image: url("./../img/instagram.svg");
}
.ic-facebook{
    background-image: url("./../img/facebook.svg");
}


// RESPONSIVE
@media screen and (min-width: 1800px) {
    .home-background{
        background-size: 100%;
    }
}

@media screen and (max-width: 1050px) {
    .home-rewards .home-rewards-wrap{
        flex-direction: column;
        padding: 1rem 0;
    }
    .home-comments .home-comments-wrap{
        flex-direction: column-reverse;
        padding: 1rem 0;
    }
}

@media screen and (max-width: 945px) {
    .home-rewards, .home-comments {
        padding: 2rem 3rem 2rem;
    }
    .home-videogames {
        padding: 5rem 2rem;
    }
}

@media screen and (max-width: 780px) {
    .home-gameon .home-gameon-wrap {
        flex-direction: column-reverse;
    }
    .home-gameon .gameon-left {
        flex: 0 0 100%;
        img{
            width: 100%;
            position: static;
        }
    }
    .home-gameon {
        padding: 4rem 0;
    }
    .home-gameon .gameon-right {
        text-align: center;
    }
    .home-background {
        padding-bottom: 7rem;
    }
    .videogames-content {
        grid-template-columns: repeat(3, 1fr);
    }
}


@media screen and (max-width: 600px) {
    .home-intro-title{
        font-size: 2.0rem;
        line-height: 3rem;
    }

    .home-intro-banner {
        height: 200px;
        background-size: 100%;
        margin: 0 auto 2rem;
    }

    .header-menu-register{
        display: none;
    }

    .home-intro-cta .intro-cta-login {
        font-size: 1.5rem;
    }
    .videogames-content {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 450px) {

    .home-intro-wrapper{
        padding: 0 1rem;
    }
    .content-size{
        padding: 0 1rem;
    }
    .home-rewards, .home-comments {
        padding: 2rem 1rem 2rem;
    }
    .home-videogames {
        padding: 5rem 1rem;
    }
}

