.profil-banner{
    background-image: url('./../img/Login-background.jpg');
    width: 100%;
    height: 250px;
    opacity: 0.5;
}

.profil-header{
    position: relative;
    top: -125px;
    display: flex;
    align-items: center;
    padding: 0rem 7rem;
    img{
        width: 250px;
        height: 250px;
        clip-path:ellipse(50% 50%);
        margin-right: 2rem;
    }
}

.profil-info-top{
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    .info-top-pseudo{
        font-family: $font-heading;
        font-size: 2rem;
    }
    .info-top-follow{
        input{
            padding: 0.4rem 1.2rem;
            font-family: $font-content;
            border-radius: 5px;
            border: none;
            background-color: $color-third;
            color: white;
            font-size: 1rem;
            border: 1px solid black;
            margin-left: 2rem;
            &:hover{
                cursor: pointer;
            }
        }
    }
}

.info-top-update{
    margin-left: 0.5rem;
    img{
        width: 20px;
        height: 20px;
    }
}

.profil-activity{
    display: flex;
    font-family: $font-content;
    margin-top: 1rem;
    color: white;
    .profil-activity-card{
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        p{
            margin-bottom: 0.5rem;
        }
        a{
            color: white;
            text-decoration: none;
        }
        &:not(:last-child){
            margin-right: 2rem;
        }
    }
}

.profil-badges{
    padding: 2rem;
    background-color: $color-second;
    border-radius: 5px;
    font-family: $font-content;
    .badges-content{
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
    }
}

.badges-item{
    text-align: center;
    img{
        width: 150px;
        margin-bottom: 0.5rem;
    }
    span{
        display: block;
        font-size: pxToRem(14);
    }
}

.profil-content{
    padding: 0rem 7rem;
    section{
        color: white;
        margin-bottom: 6rem;
        .profil-section-wrapper{
            display: flex;
            flex-wrap: wrap;
            gap: 3.50rem;
        }
        h2{
            font-size: 2rem;
            margin-bottom: 1.75rem;
        }
    }
}
