@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap);
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", Verdana, Arial, Helvetica, sans-serif;
}

body {
  background-color: #13171C;
  font-size: 16px;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.content-size {
  max-width: 1400PX;
  margin: 0 auto;
  padding: 0 3rem;
}

.header {
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-title {
  font-size: 1.75rem;
  color: white;
  font-family: "Poppins", Verdana, Arial, Helvetica, sans-serif;
}

.header-menu a {
  color: white;
  text-decoration: none;
  font-family: "Open Sans", Verdana, Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  padding: 1rem;
}

.home-intro-wrapper {
  padding: 0 4rem;
}

.home-intro {
  background-image: url("./../img/home-intro-background.jpg");
  background-position: center;
  height: 300px;
  border: 2px solid #262B48;
  margin-bottom: 4rem;
}

.home-intro-title {
  color: white;
  font-family: "Poppins", Verdana, Arial, Helvetica, sans-serif;
  font-size: 4rem;
  text-align: center;
  text-align: center;
  line-height: 5rem;
  margin-bottom: 2rem;
}

.home-intro-text {
  text-align: center;
  font-size: 2rem;
  font-family: "Open Sans", Verdana, Arial, Helvetica, sans-serif;
  color: white;
  margin-bottom: 3rem;
}

.home-intro-cta {
  font-family: "Open Sans", Verdana, Arial, Helvetica, sans-serif;
  text-align: center;
}
.home-intro-cta a {
  padding: 0.8rem 2rem;
  color: white;
  text-decoration: none;
  border-radius: 0.5rem;
}
.home-intro-cta a:first-child {
  margin-right: 2rem;
}
.home-intro-cta .intro-cta-login {
  background-color: #222831;
}
.home-intro-cta .intro-cta-login:hover {
  background-color: #262B48;
  font-weight: bold;
}
.home-intro-cta .intro-cta-register {
  background-color: #262B48;
}
.home-intro-cta .intro-cta-register:hover {
  background-color: #222831;
  font-weight: bold;
}

.login-splitscreen {
  height: 100vh;
  display: flex;
}

.login-left {
  flex: 1 1 40%;
  border-right: 5px solid #262B48;
  background-image: url("./../img/Login-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.login-right {
  font-family: "Open Sans", Verdana, Arial, Helvetica, sans-serif;
  flex: 1 1 60%;
  padding: 3rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login-right .login-title {
  text-align: center;
  color: white;
  font-size: 3.5rem;
  margin-bottom: 2rem;
}

.login-intro {
  font-size: 1.5rem;
  color: white;
  text-align: center;
  margin-bottom: 5rem;
}
.login-intro a {
  font-weight: bold;
  font-style: italic;
  text-decoration: none;
  color: white;
}

.login-form {
  width: 500px;
}
.login-form .login-pseudo, .login-form .login-password {
  display: flex;
  flex-direction: column;
  margin-bottom: 2.5rem;
}
.login-form .login-pseudo .login-forgotPassword, .login-form .login-password .login-forgotPassword {
  color: white;
  text-align: right;
  text-decoration: none;
  margin-top: 0.5rem;
}
.login-form label {
  color: white;
  margin-bottom: 0.313rem;
  font-size: 1.375rem;
}
.login-form input {
  padding: 0.6rem 0.7rem;
  font-family: "Open Sans", Verdana, Arial, Helvetica, sans-serif;
  font-size: 1.25rem;
  border: none;
  background-color: #222831;
  border-radius: 0.125rem;
  color: white;
  border: 2px solid #262B48;
}
.login-form input[type=submit] {
  cursor: pointer;
  float: right;
  width: 200px;
}
.login-form input[type=submit]:hover {
  background-color: #262B48;
}

.login-error {
  margin-top: 5px;
  color: red;
  font-size: 1.1rem;
}

.login-input-error {
  border: 1px solid red !important;
}

.register-splitscreen {
  height: 100vh;
  display: flex;
}

.register-left {
  flex: 1 1 40%;
  border-right: 5px solid #262B48;
  background-image: url("./../img/Register-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.register-right {
  font-family: "Open Sans", Verdana, Arial, Helvetica, sans-serif;
  flex: 1 1 60%;
  padding: 3rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.register-right .register-title {
  text-align: center;
  color: white;
  font-size: 3.5rem;
  margin-bottom: 2rem;
}

.register-intro {
  font-size: 1.5rem;
  color: white;
  text-align: center;
  margin-bottom: 5rem;
}
.register-intro a {
  font-weight: bold;
  font-style: italic;
  text-decoration: none;
  color: white;
}

.register-form {
  width: 500px;
}
.register-form .register-pseudo, .register-form .register-password, .register-form .register-email, .register-form .register-passwordConfirm {
  display: flex;
  flex-direction: column;
  margin-bottom: 2.5rem;
}
.register-form label {
  color: white;
  margin-bottom: 0.313rem;
  font-size: 1.375rem;
}
.register-form input {
  padding: 0.6rem 0.7rem;
  font-family: "Open Sans", Verdana, Arial, Helvetica, sans-serif;
  font-size: 1.25rem;
  border: none;
  background-color: #222831;
  border-radius: 0.125rem;
  color: white;
  border: 2px solid #262B48;
}
.register-form input[type=submit] {
  cursor: pointer;
  float: right;
  width: 200px;
}
.register-form input[type=submit]:hover {
  background-color: #262B48;
}

.dashboard-sidebar {
  position: fixed;
  background-color: #13171C;
  width: 250px;
  border-right: 1px solid white;
  height: 100vh;
  padding: 2rem;
  color: white;
}

.dashboard-right {
  margin-left: 315px;
}

.sidebar-title {
  text-align: center;
  font-size: 2rem;
  border-bottom: 1px solid white;
  padding-bottom: 2rem;
}

.sidebar-menu {
  border-bottom: 1px solid white;
}
.sidebar-menu ul {
  margin-top: 15px;
}

.sidebar-menu-item {
  margin-bottom: 0.8rem;
}
.sidebar-menu-item .sidebar-menu-link {
  padding: 1rem;
  display: block;
  color: white;
  text-decoration: none;
  font-family: "Poppins", Verdana, Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  border-radius: 50px;
}
.sidebar-menu-item:hover {
  background-color: #262B48;
  border-radius: 50px;
}

.sidebar-active {
  background-color: #262B48;
  border-radius: 50px;
}

.sidebar-logout {
  text-align: center;
}
.sidebar-logout a {
  display: block;
  text-decoration: none;
  font-family: "Open Sans", Verdana, Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  padding: 2rem;
  color: white;
}

.dashboard-top {
  padding: 1.35rem 7rem;
  border-bottom: 1px solid white;
  display: flex;
  justify-content: space-between;
}

.dashboard-top-form input[type=search] {
  font-family: "Poppins", Verdana, Arial, Helvetica, sans-serif;
  padding: 0.7rem 1.5rem;
  box-sizing: border-box;
  font-size: 1.25rem;
  border-radius: 30px;
  border: none;
  width: 500px;
}
.dashboard-top-form input[type=submit] {
  font-family: "Poppins", Verdana, Arial, Helvetica, sans-serif;
  margin-left: 0.8rem;
  background: none;
  color: white;
  border: none;
  font-size: 1.3rem;
}

.dashboard-top-right {
  display: flex;
  align-items: center;
}

.dashboard-top-buttons {
  margin-right: 4rem;
}
.dashboard-top-buttons a {
  text-decoration: none;
}
.dashboard-top-buttons .icon-messages {
  margin-right: 2rem;
}
.dashboard-top-buttons .icon-messages img {
  width: 30px;
}
.dashboard-top-buttons .icon-notifications img {
  width: 30px;
}

.dashboard-top-userProfil {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.dashboard-top-userProfil a {
  font-family: "Poppins", Verdana, Arial, Helvetica, sans-serif;
  color: white;
  font-size: 1.3rem;
  text-decoration: none;
}
.dashboard-top-userProfil img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.dashboard-activity {
  padding: 2rem 7rem;
  font-family: "Open Sans", Verdana, Arial, Helvetica, sans-serif;
}
.dashboard-activity section {
  color: white;
  margin-bottom: 6rem;
}
.dashboard-activity section .activity-section-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 3.5rem;
}
.dashboard-activity section h2 {
  font-size: 2rem;
  margin-bottom: 1.75rem;
}

.dashboard-browse {
  padding: 3rem 7rem;
}

.browse-form {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
}

.browse-multiselect {
  width: 200px;
  position: relative;
}
.browse-multiselect .selectBox {
  position: relative;
}
.browse-multiselect .selectBox select {
  width: 100%;
  padding: 0.8rem 0.9rem;
  background-color: #222831;
  color: white;
  font-family: "Open Sans", Verdana, Arial, Helvetica, sans-serif;
  border-radius: 2rem;
  font-size: 1rem;
  border: 1px solid white;
}
.browse-multiselect .overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.browse-multiselect #checkboxes {
  display: none;
  border: 1px #dadada solid;
}
.browse-multiselect #checkboxes label {
  display: block;
}
.browse-multiselect #checkboxes label:hover {
  background-color: #1e90ff;
}

.browse-form-submit input {
  width: 100%;
  padding: 0.8rem 0.9rem;
  background-color: #222831;
  color: white;
  font-family: "Open Sans", Verdana, Arial, Helvetica, sans-serif;
  border-radius: 2rem;
  font-size: 1rem;
  border: 1px solid white;
  cursor: pointer;
}

.browse-content {
  margin-top: 4rem;
  display: flex;
  flex-wrap: wrap;
  gap: 3.5rem;
}

.browse-game-card {
  display: flex;
  flex-direction: column;
  flex: 0;
}
.browse-game-card a {
  color: white;
  font-family: "Open Sans", Verdana, Arial, Helvetica, sans-serif;
  font-size: 1.175rem;
  text-decoration: none;
  margin-top: 0.5rem;
  line-height: 1.5rem;
}

.game-card-img-container {
  position: relative;
}
.game-card-img-container img {
  width: 200px;
  vertical-align: bottom;
  border-radius: 1.25rem;
}
.game-card-img-container .game-card-button-wrapper {
  display: none;
  border-radius: 1.25rem;
}

.game-card-img-container:hover .game-card-button-wrapper {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
}
.game-card-img-container:hover .game-card-button-wrapper input {
  font-family: "Open Sans", Verdana, Arial, Helvetica, sans-serif;
  padding: 0.8rem 0.9rem;
  background-color: #262B48;
  color: white;
  border: 1px solid white;
  width: 100%;
  border-radius: 2rem;
  flex: 1;
}
.game-card-img-container:hover .game-card-button-wrapper input:hover {
  background-color: #13171C;
}

.selectbox {
  position: relative;
}
.selectbox .overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.checkboxes {
  display: none;
  border: 1px solid white;
  background-color: #222831;
  position: absolute;
  left: 0;
  right: 0;
  color: white;
  border-radius: 2rem;
  z-index: 2;
}
.checkboxes label {
  display: flex;
  align-items: center;
  padding: 0.8rem 0.9rem;
  font-family: "Open Sans", Verdana, Arial, Helvetica, sans-serif;
}
.checkboxes input {
  margin-right: 7px;
}

.checkboxesEl-on {
  display: block !important;
}

.profil-banner {
  background-image: url("./../img/Login-background.jpg");
  width: 100%;
  height: 250px;
  opacity: 0.5;
}

.profil-header {
  position: relative;
  top: -125px;
  display: flex;
  align-items: center;
  padding: 0rem 7rem;
}
.profil-header img {
  width: 250px;
  height: 250px;
  -webkit-clip-path: ellipse(50% 50%);
          clip-path: ellipse(50% 50%);
  margin-right: 2rem;
}

.profil-info {
  color: white;
}
.profil-info .profil-info-pseudo {
  font-family: "Poppins", Verdana, Arial, Helvetica, sans-serif;
  font-size: 2rem;
  margin-top: 1rem;
}

.profil-info-update {
  margin-left: 0.5rem;
}
.profil-info-update img {
  width: 20px;
  height: 20px;
}

.profil-activity {
  display: flex;
  font-family: "Open Sans", Verdana, Arial, Helvetica, sans-serif;
  margin-top: 1rem;
}
.profil-activity .profil-activity-card {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
.profil-activity .profil-activity-card p {
  margin-bottom: 0.5rem;
}
.profil-activity .profil-activity-card:not(:last-child) {
  margin-right: 2rem;
}

.profil-content {
  padding: 0rem 7rem;
}
.profil-content section {
  color: white;
  margin-bottom: 6rem;
}
.profil-content section .profil-section-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 3.5rem;
}
.profil-content section h2 {
  font-size: 2rem;
  margin-bottom: 1.75rem;
}

.game-banner {
  width: 100%;
  height: 250px;
  opacity: 0.5;
}
.game-banner img {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}

.game-content {
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 4rem;
}

.game-header {
  position: relative;
  top: -125px;
  display: flex;
}
.game-header .game-cover {
  border-radius: 2rem;
  margin-right: 3rem;
}
.game-header .game-title {
  font-size: 2rem;
  margin-top: 5rem;
  margin-bottom: 2rem;
  color: white;
}
.game-header .game-description {
  font-family: "Open Sans", Verdana, Arial, Helvetica, sans-serif;
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: white;
  width: 700px;
}

.characteristics-title {
  font-size: 2rem;
  color: white;
  margin-bottom: 2rem;
}

.game-characteristics dl {
  border: 2px solid black;
}
.game-characteristics .characteristics-wrap {
  display: flex;
}
.game-characteristics .characteristics-wrap dt, .game-characteristics .characteristics-wrap dd {
  background-color: #222831;
  padding: 2rem;
  flex: 1;
  font-family: "Open Sans", Verdana, Arial, Helvetica, sans-serif;
  color: white;
  font-size: 1.25rem;
}
.game-characteristics .characteristics-wrap dt {
  border-right: 2px solid black;
}
.game-characteristics .characteristics-wrap:not(:last-child) {
  border-bottom: 2px solid black;
}

.game-comments .comments-title {
  font-size: 2rem;
  margin-top: 5rem;
  margin-bottom: 2rem;
  color: white;
}
.game-comments form {
  margin-bottom: 7rem;
}
.game-comments form textarea {
  width: 100%;
  background-color: #222831;
  border: 2px solid black;
  border-radius: 1rem;
  resize: none;
  height: 150px;
  padding: 2rem;
  font-family: "Open Sans", Verdana, Arial, Helvetica, sans-serif;
  color: white;
  font-size: 1.25rem;
  box-sizing: border-box;
}
.game-comments form input[type=submit] {
  float: right;
  margin-top: 1rem;
  background-color: #222831;
  border: 2px solid black;
  padding: 0.8rem 0.9rem;
  color: white;
  font-family: "Open Sans", Verdana, Arial, Helvetica, sans-serif;
}

.comments-wrapper {
  clear: both;
}

.game-comment {
  color: white;
  font-family: "Open Sans", Verdana, Arial, Helvetica, sans-serif;
  background-color: #222831;
  padding: 2rem;
  border: 2px solid black;
}
.game-comment .game-comment-user {
  font-size: 1.75rem;
  margin-bottom: 1.5rem;
}
