.register-splitscreen{
    height: 100vh;
    display: flex;
}

.register-left{
    flex: 1 1 40%;
    border-right: 5px solid $color-third;
    background-image: url('./../img/Register-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.register-right{
    font-family: $font-content;
    flex: 1 1 60%;
    padding: 3rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .register-title{
        text-align: center;
        color: white;
        font-size: 3.5rem;
        margin-bottom: 2rem;
    }
}

.register-intro{
    font-size: 1.5rem;
    color: white;
    text-align: center;
    margin-bottom: 5rem;
    a{
        font-weight: bold;
        font-style: italic;
        text-decoration: none;
        color: white;
    }
}

.register-form{
    width: 500px;
    .register-pseudo, .register-password, .register-email, .register-passwordConfirm{
        display: flex;
        flex-direction: column;
        margin-bottom: 2.5rem;
    }
    label{
        color: white;
        margin-bottom: 0.313rem;
        font-size: 1.375rem;
    }

    input{
        padding: 0.6rem 0.7rem;
        font-family: $font-content;
        font-size: 1.25rem;
        border: none;
        background-color: $color-second;
        border-radius: 0.125rem;
        color: white;
        border: 2px solid $color-third;
        width: 100%;
        box-sizing: border-box;
    }
    input[type="submit"]{
        cursor: pointer;
        float: right;
        width: 200px;
        &:hover{
            background-color: $color-third;
        }
    }
}

.password-wrapper-show{
    position:relative;
    .password-action{
        position: absolute;
        display: inline-block;
        width: 25px;
        height: 25px;
        background-image: url('/img/eye-password-show.svg');
        background-size: 100%;
        right: 15px;
        top: 13px;
        cursor: pointer;
    }
    .hide-password{
        background-image: url('/img/eye-password-hide.svg');
    }
}

@media screen and (max-width:800px){
    .register-form {
        width: 400px;
    }
}

@media screen and (max-width:450px){
    .register-right {
        justify-content: inherit;
    }
}

@media screen and (max-width: 500px){
    .register-form{
        width: 100%;
    }
    .register-left{
        display: none;
    }
    .register-right {
        flex: 1 1 60%;
        padding: 0 1rem;
        margin: 4rem 0;
    }
    .register-right .register-title {
        font-size: 2.5rem;
    }
}
