$font-heading: 'Poppins', Verdana, Arial, Helvetica, sans-serif;
$font-content: 'Open Sans', Verdana, Arial, Helvetica, sans-serif;

$font-size-base : 16;
$color-main: #13171C;
$color-second: #222831;
$color-third: #262B48;

h1,h2,h3,h4,h5,h6{
    font-family: $font-heading;
}

body{
    background-color: $color-main;
    font-size: 16px;
}

.hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}


.content-size{
    max-width: 1400PX;
    margin: 0 auto;
    padding: 0 3rem;
}

@function pxToRem($value){
    @return $value/$font-size-base + rem;
}
